<!DOCTYPE html>
<html>
<head>
    <title>Domain Recon Tool</title>
    <style>
        body { font-family: Arial; background: #f3f3f3; padding: 20px; }
        form { margin-bottom: 20px; }
        input[type=text] { width: 300px; padding: 8px; }
        button { padding: 8px 15px; }
        .result { background: #fff; padding: 15px; border-radius: 8px; margin-top: 10px; }
        pre { background: #eee; padding: 10px; border-radius: 5px; overflow-x: auto; }
        h3 { margin-top: 20px; color: #333; }
    </style>
</head>
<body>
    <div style="
    display:flex;
    justify-content:center;
    margin-top:20px;
">
    <div style="
        background:#00aaff;
        color:white;
        padding:8px 18px;
        border-radius:25px;
        font-weight:600;
        font-size:16px;
        box-shadow:0 2px 6px rgba(0,0,0,0.2);
    ">
        Developed by Devam Shah
    </div>
</div>
    <h1>WHOIS & Domain Recon Tool</h1>
    <form method="POST">
        <input type="text" name="domain" placeholder="Enter domain e.g. example.com" required>
        <button type="submit">Analyze</button>
    </form>

    {% if error %}
        <div style="color:red;">Error: {{ error }}</div>
    {% endif %}

    {% if result %}
        <div class="result">
            <h3>WHOIS Info:</h3>
            <pre>{{ result.whois | tojson(indent=2) }}</pre>

            <h3>DNS Records:</h3>
            <pre>{{ result.dns | tojson(indent=2) }}</pre>

            <h3>Subdomains:</h3>
            <pre>{{ result.subdomains | tojson(indent=2) }}</pre>

            <h3>IP & Hosting Info:</h3>
            <pre>{{ result.ip_info | tojson(indent=2) }}</pre>

            <h3>SSL Certificate Info:</h3>
            <pre>{{ result.ssl | tojson(indent=2) }}</pre>
        </div>
    {% endif %}
</body>
</html>
